<form action='/' method='POST'>
  <textarea rows=4 cols=50 name='plaintext'>Enter plaintext</textarea>
  <input type='number' name='shift' value=1 min=1 max=26>
  <input type='submit' value='Encrypt'>
</form>
